<div class="container">
    <!-- Warning Alert -->
    <div *ngIf="ifAnyWarning" style="margin-top: 10px" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Warning!</strong> {{ warningAlertMessage }}
        <button type="button" class="close" (click)="ifAnyWarning = false">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Error Alert -->
    <div *ngIf="ifAnyError" style="margin-top: 10px" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> {{ errorAlertMessage }}
        <button type="button" class="close" (click)="ifAnyError = false">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Success Alert -->
    <div *ngIf="ifPostedSuccessfully" style="margin-top: 10px" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> {{ successAlertMessage }}
        <button type="button" class="close" (click)="ifPostedSuccessfully = false">
            <span aria-hidden="true">&times;</span>
        </button>
        <hr>
        <p class="mb-0"><a href="" [routerLink]="['/addtask']">Click here</a> to add more tasks.</p>
    </div>
    <form>
        <div class="search-area">
            <div class="col-sm-12 row" style="margin-top: 5px">
                <div class="col-sm-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm" for="inputTaskName">Project</label>
                        <div class="col-sm-6" style="padding: 0px">
                            <input type="text" class="form-control form-control-sm" id="inputTaskName" placeholder="Project Name" [(ngModel)]="displayProject" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="col-sm-1" style="padding: 0px; margin-right: 3px">
                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modalProject" data-placement="top" title="Search All Projects" (click)="loadProjectName()"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="col-sm-1" style="padding: 0px; margin-left: 3px">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Reset" (click)="resetValue()"><i class="fa fa-refresh"></i></button>
                        </div>                
                    </div>                  
                </div>
                
                <div class="col-sm-8">
                    <label class="col-sm-2 col-form-label-sm" for="">Sort By:-</label> 
                    <button type="button" class="btn btn-sm btn-light" (click)="sortByStartDt()"><i class="fa fa-sort" aria-hidden="true"></i>&nbsp;Start Date</button>&nbsp;
                    <button type="button" class="btn btn-sm btn-light" (click)="sortByEndDt()" ><i class="fa fa-sort" aria-hidden="true"></i>&nbsp;End Date</button>&nbsp;
                    <button type="button" class="btn btn-sm btn-light" (click)="sortByPriority()"><i class="fa fa-sort" aria-hidden="true"></i>&nbsp;Priorty</button>&nbsp;
                    <button type="button" class="btn btn-sm btn-light" (click)="sortByCompleted()"><i class="fa fa-sort" aria-hidden="true"></i>&nbsp;Completed</button>&nbsp;
                </div>              
            </div>
        </div>
        <div class="view-area">
            <div class="col-sm-12 row" style="text-align: center">
                <div class="col-sm-2">Task</div>
                <div class="col-sm-2">Parent</div>
                <div class="col-sm-1">Priority</div>
                <div class="col-sm-2">Start</div>
                <div class="col-sm-2">End</div>
                <div class="col-sm-3">Action</div>
            </div>
            <hr>
            <div class="col-sm-12 row" *ngFor="let task of allTasks" style="margin-bottom: 5px">
                <div class="col-sm-2">
                    <input type="text" class="form-control form-control-sm" id="inputTaskNameView" placeholder="Task" readonly value={{task.taskname}}>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control form-control-sm" id="inputPTaskNameView" placeholder="Parent Task" readonly value={{task.parentid.taskname}}>
                </div>
                <div class="col-sm-1">
                    <input type="text" class="form-control form-control-sm" id="inputPriorityView" placeholder="30" readonly value={{task.priority}}>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control form-control-sm" id="inputStartDateView" readonly value="{{ task.startdt | date:'yyyy-MM-dd' }}">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control form-control-sm" id="inputEndDateView" readonly value="{{ task.enddt | date:'yyyy-MM-dd' }}">
                </div>                
                <div class="col-sm-3 row">
                    <button type="button" class="btn btn-sm btn-success" (click)="editTask(task._id)" [disabled]="!task.status"><i class="fa fa-pencil"></i>&nbsp;Edit Task</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-sm btn-danger" (click)="tobeendedId = task._id" [disabled]="(task.status === false) || (task.finished === false)" data-toggle="modal" data-target=".endTaskConfirmationModal"><i class="fa fa-times"></i>&nbsp;End Task</button>
                </div>
                <!-- Icons to show the state change -->
                &nbsp;&nbsp;
                <span *ngIf="task.status === false" style="color: red" data-toggle="tooltip" data-placement="top" title="Ended">
                    <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                </span>
                <span *ngIf="(task.finished === true) && (task.status === true)" style="color: green" data-toggle="tooltip" data-placement="top" title="Finished">
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                </span> 
                <span *ngIf="(task.running === true) && (task.status === true)" style="color: blue" data-toggle="tooltip" data-placement="top" title="Running">
                    <i class="fa fa-bolt" aria-hidden="true"></i>
                </span>
                <span *ngIf="(task.running === false) && (task.status === true) && (task.finished === false)" style="color: black" data-toggle="tooltip" data-placement="top" title="Waiting">
                    <i class="fa fa-pause-circle-o" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </form>

    <!-- Modal Select Project -->
    <div class="modal fade" id="modalProject" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modalProjectDisplay" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="searchProjectInput" [ngModelOptions]="{standalone: true}" (ngModelChange)="searchProject()">
                    </div>
                    <ul class="list-group list-group-flush" *ngFor="let prj of allProjects">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{prj.project}}
                            <button type="button" class="btn btn-sm btn-primary" (click)="selectProject(prj._id, prj.project)" data-dismiss="modal"><i class="fa fa-check"></i></button>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End Task Confirmation Modal -->
    <div class="modal endTaskConfirmationModal" tabindex="-1" data-backdrop="static" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">End Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to stop?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" (click)="endTask()" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>